html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Playfair Display", serif; */
}

body {
  background: #222;
  color: #eee;
}

a {
  color: #eee;
}

h1 {
  max-width: 810px;
  margin: 30px auto 0px auto;
  text-align: center;
  font-family: "Playfair Display", serif;
  /* padding: 10px 5px; */
}

.chart-container {
  margin: 30px auto 50px auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.label-wrapper > div {
  margin-right: 10px;
  padding: 3px 5px;
  border: 1px solid #e7e7e7;
  font-family: "Courier New", Courier, monospace;
}

.square {
  transition: 0.3s ease-in-out all;
}

.label-wrapper > div:hover {
  background: #e2e2af;
  color: #222;
}

.tooltip {
  position: fixed;
  z-index: 2;
  width: 200px;
  background: #111;
  color: #fff;
  pointer-events: none;
  padding: 10px;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 10px;
  opacity: 0;
  border: 2px solid transparent;
}

.topic {
  font-size: 12px;
  /* text-align: center; */
}

.nameOfObject {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 12px;
  /* text-align: center; */
}

.cmyk {
  border-top: 1px solid #ccc;
}

footer {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  width: 400px;
  text-align: center;
  border-top: 1px solid #ccc;
  margin: 50px auto;
  width: fit-content;
  opacity: 0.75;
  padding: 1rem;
}
